@import '~bulma/bulma.sass';
@import 'bulma/css/bulma.css';

#home-background {
  background-image: url('https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  // opacity: 0.79;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(60, auto);
  background-color: #2196F3;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  width: 5px;
  cursor: pointer;
  
}
.wraparound{
  display: flex;
  justify-content: center;
}

.highlighted{
  border: 1px solid red;
}
.highlightedColor{
  border: 3px solid red;
}

.pallet {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.colorList{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.black{
  background-color: black;
  color:white;
    padding: 10px;
    cursor: pointer;
  
}

.red{
  background-color: red;
    padding: 10px;
    cursor: pointer;
}
.orange{
  background-color: orange;
    padding: 10px;
    cursor: pointer;
}
.yellow{
  background-color: yellow;
    padding: 10px;
    cursor: pointer;
}
.green{
  background-color: green;
  color:white;
    padding: 10px;
    cursor: pointer;
}
.blue{
  background-color: blue;
  color:white;
    padding: 10px;
    cursor: pointer;
}
.purple{
  background-color: purple;
  color:white;
    padding: 10px;
    cursor: pointer;
}
.brown{
  background-size: 50px 50px;
  height: 50px;
  background-color: brown;
  color:white;
  padding: 10px;
  cursor: pointer;
}

.white {
    padding: 10px;
    cursor: pointer;
}

.subButton{
  padding: 20px;
  margin: 10px;
}

.placePix{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
}

.shapeImage{
  width: 100px;
  border-radius: 50%;
}
.threadContents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    background-image: url('https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg');
      height: 100vh;
}

.allComents{
  display: flex;
  flex-direction: column;
}

.indiComment{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 500px;
}
.imageAndName{
  display: flex;
  flex-direction: column;
}

.profileHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg');
}

.profileInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid blue;
  padding: 30px;
}

.profileDetails{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myProfileText{
  font-size: 35px;
}
.wrapText{
  padding: 10px
}

.communityBackground{
  height: 100vh;
  background-image: url('https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg');
  }

  .communityImage{
    border-radius: 50%;
  }

  .targetCommunityTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: beige;
  }

  .useThisOne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .createNewThread{
    display: flex;
    flex-direction: row;
  }

.setCreateBackgroundThread{
  background-repeat: repeat;
  background-image: url('https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg');
}

.centerCommunities{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.createNewCommunity{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
  margin-bottom: 200px;
  background-color: white;
  border-radius: 15px;
}

.centerCommunitiesContent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.adjustImageCommunity{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.alignEditCommunity{
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: row;

}
.ajustImageCommunity{
  border-radius: 100%;
  max-width: 300px;
}

.nameCommunityPage{
  padding-bottom: 30px;
}

.pixelBackground{

  background-repeat: repeat;
  background-image: url('https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg');
}

.makeBackgroundLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  background-image: url('https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg');
}

.makeBackgroundWhite{
  background-color: white;
}

.navbar-wrapper{
  padding: 10px;
  background-color: gray
}

.navbar-brand{
  color: white;
}